html *
{
   font-family: Helvetica, sans-serif;
}

.title {
  text-align: center;
  margin: 20px;
}

.title h1, .title h5 {
  margin: 0px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

