html *
{
   font-family: Helvetica, sans-serif;
}

.title {
  text-align: center;
  margin: 20px;
}

.title h1, .title h5 {
  margin: 0px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.grid-container {
  margin: 80px;
  display: flex;
  justify-content: center;
}

#grid {
  position: relative;
  margin: 10px;
  background-image:
    repeating-linear-gradient(#ccc 0 1px, transparent 1px 100%),
    repeating-linear-gradient(90deg, #ccc 0 1px, transparent 1px 100%);
  background-size: 50px 50px;
}

.mirror-bac {
  height:40px;
  width: 40px;
  background-image:
    repeating-linear-gradient( 45deg, transparent 1px 26px, #0000ff 0 31px, transparent 1px 40px);
}

.mirror-for {
  height:40px;
  width: 40px;
  background-image:
    repeating-linear-gradient(-45deg, transparent 1px 26px, #0000ff 0 31px, transparent 1px 40px);
}

.laser-button {
  position: absolute;
  height: 20px;
  width: 20px;
  border-radius: 10px;
  border-color: black;
  background-color: black;
}

.laser-label {
  position: absolute;
  height: 20px;
  width: 40px;
  text-align: center;
}

.on {
  background-color: red;
}

